.text-decoration-none {
  text-decoration: none;
}

.product-block {
  height: 200px;
  width: 150px;
}

.product-block a img {
  max-width: 100px;
  max-height: 150px;
}

.product-small-images {
  max-height: 75px;
}

.btn-yellow {
  background-color: yellow !important;
}