.text-decoration-none {
  text-decoration: none;
}

.product-block {
  height: 200px;
  width: 150px;
}

.product-block a img {
  max-width: 100px;
  max-height: 150px;
}

.product-small-images {
  max-height: 75px;
}

.btn-yellow {
  background-color: yellow !important;
}

.bg-danger-1 {
  background-color: rgb(143, 11, 11);
}

.border-danger-1 {
  border-color: rgb(143, 11, 11);
}

#main-image {
  max-height: 350px;
}