body {
    background-color: #f9f9f9;
    color: #191919;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.3;
}

.text-decoration-none {
  text-decoration: none;
}

.product-block {
  height: 200px;
  width: 150px;
}

.product-block a img {
  max-width: 100px;
  max-height: 150px;
}

.product-small-images {
  max-height: 75px;
}



#main-image {
  max-height: 350px;
}

/* MISC */
.container {
    max-width: 1660px;
}

/* HEADER */
header {
    background: #ffffff;
    color: #000000;
    border-bottom: 1px solid #eeeeee;
}
header.home {
    background: #f1f6ff;
    color: #000000;
    border-bottom: 0;
}
header .logo {
    max-width: 220px !important;
}
header a.nav-link {
    font-weight: 600;
    font-size: 16px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px;
    color: #000000;
}
button.navbar-toggler {
    border: 0;
    padding: 0;
    color: #000000 !important;
}
.navbar-collapse.collapse.show {
    padding-top: 15px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}
/*Search*/
.global-search-form {
    border: 1px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
}
.search-control {
    background: #f9f9f9;
    border: 0;
    height: 100%;
    padding-left: 15px;
}
.search-col {
    background: #f9f9f9;
    border-right: 1px solid #ccc;
}
/* Hero */
.hero-content-container {
    background: #f1f6ff;
    border-bottom: 1px solid #eee;
}
/*Products*/
.product-details-title h1 {
    font-size:40px;
}
.img-blog-cropped {
    max-width: 100%;
    height: 250px;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
}
.img-blog-cropped:hover {
	filter: grayscale(0);
}
.model-full-hw {
    height: 100%;
    width: 100%;
}

/* Footer */
.footer .footer-logo {
    height:20px;
}
.footer ul.social a {
    width: auto;
    height: auto;
    font-size: 1.5rem !important;
    line-height: 24px;
    display: inline-block;
    color: #000000;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2351596C' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem 1rem;
    margin-left: auto;
    padding-left: 1.25rem;
    content: '';
    border: 0;
    vertical-align: -2px;
}

.auth-btn {
    border-radius: 50px;
    padding: 10px 25px;
    border:1px solid #f9f9f9;
}
.auth-btn.primary {
    background: #0057ff;
}
