.shipping-method-btn {
    cursor: pointer;
}
.checkout-wrap {
    background: #ffffff;

}
.checkout-sidebar {
    
}
.checkout-sidebar::after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #f6ebef;
    z-index: -1;
    -webkit-box-shadow: 0 -1px 0 #ddd4d7 inset;
    box-shadow: 0 -1px 0 #ddd4d7 inset;
}
@media (min-width: 1000px)
{
    .checkout-sidebar::after {
        left: 0;
        background-position: left top;
        -webkit-box-shadow: 1px 0 0 #ddd4d7 inset;
        box-shadow: 1px 0 0 #ddd4d7 inset;
    }
}   
